
*.o
*.d
*.a
software/05_Sobel_bsp/*
hardware/quartus_project/db/*
hardware/quartus_project/base_system/synthesis/*
hardware/quartus_project/output_files/*
hardware/quartus_project/software/05_Sobel_bsp/*
hardware/vhdl_modules/*
!hardware/vhdl_modules/SDeriaz
software/05_Sobel/*
!software/05_Sobel/*.h
!software/05_Sobel/*.c
hardware/quartus_project/incremental_db/*
hardware/quartus_project/.qsys_edit/*
hardware/quartus_project/base_system/*
*.rpt
*.cmp
*.html
*.xml
*.map.smsg
*.map.summary
hardware/quartus_project/mse_demo.qws
